{% extends 'base.html' %}

{% block brand %}{% url 'contact' %}{% endblock %}

{% block main %}
<div class="card" style="margin: auto; max-width: 35rem; margin-top: 2rem;">
  <div class="card-header">
    Myanmar Cyber Youth
  </div>
  <div class="card-body">
    <h5 class="card-title">Want to work with my team?</h5>
    <p class="card-text">You just need to give us right information. We can make it for you.</p>
    <a href="https://cybermm.tech" class="btn btn-primary">Go to our website!</a>
  </div>
</div>

<div class="list-group" style="margin: auto; max-width: 35rem; padding-top: 2rem;">
  <p class="list-group-item list-group-item-action active text-center" aria-current="true">
    Direct Contact
  </p>
  <a href="tel:+959766107203" class="list-group-item list-group-item-action"><i class="lni lni-phone-set"></i> : +959766107203</a>
  <a href="mailto:kylesinlynn@gmail.com" class="list-group-item list-group-item-action"><i class="lni lni-write"></i> : kylesinlynn@cybermm.tech</a>
  <a href="https://t.me/kylesinlynn" class="list-group-item list-group-item-action"><i class="lni lni-telegram-original"></i> : @kylesinlynn</a>
</div>

<div class="list-group" style="margin: auto; max-width: 35rem; padding: 2rem 0;">
  <p class="list-group-item list-group-item-action active text-center" aria-current="true">
    Follow me
  </p>
  <a href="https://github.com/kylesinlynn" class="list-group-item list-group-item-action"><i class="lni lni-github-original"></i> : @kylesinlynn</a>
  <a href="https://twitter.com/kylesinlynn" class="list-group-item list-group-item-action"><i class="lni lni-twitter-original"></i> : @kylesinlynn</a>
  <a href="https://dev.to/kylesinlynn" class="list-group-item list-group-item-action"><i class="lni lni-dev"></i> : @kylesinlynn</a>
</div>

{% endblock %}
