{% extends 'base.html' %}
{% load static %}

{% block brand %}{% url 'home' %}{% endblock %}

{% block main %}
<div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" role="alert">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </svg>
  <div>
    Interested? <a href="{% url 'contact' %}">Hire me!</a>
  </div>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="text-center position-relative" style="padding: 30px;">
	<img src="{% static 'avatar.jpg' %}" class="rounded" alt="Kyle Sin Lynn" style="height: 200px; min-width: 200px; width: 200px;">
</div>

<h1 class="text-center fw-bolder fs-3">Kyle Sin Lynn</h1>
<p class="text-center text-muted">I am a newbie into software development field.</p>

<div class="accordion accordion-flush" id="accordionFlush" style="margin:auto; max-width: 30rem; padding: 1rem 0;">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <i class="lni lni-code" style="padding-right: 1em;"></i> Skills
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
      	<ul class="list-group">
      		<button type="button" class="list-group-item list-group-item-action active" aria-current="true">
				Languages
			</button>
      		{% for language in languages %}
			<li class="list-group-item">{{ language.name }}</li>
      		{% endfor %}
		</ul>
		<hr>
      	<ul class="list-group">
      		<button type="button" class="list-group-item list-group-item-action active" aria-current="true">
				Frameworks
			</button>
      		{% for framework in frameworks %}
			<li class="list-group-item">{{ framework.name }}</li>
      		{% endfor %}
		</ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        <i class="lni lni-certificate" style="padding-right: 1em;"></i> Certificates
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlush">
      <div class="accordion-body">
		<div class="list-group" style="max-width: 30rem; margin: auto;">
			<!-- unnecessary tags
			<div class="justify-content-between text-center">
		    	<h5 class="mb-1">Certifications</h5>
		    </div>
			-->
		    {% for certificate in certification %}
			<a href="{{ certificate.link }}" class="list-group-item list-group-item-action">
				<div class="d-flex w-100 justify-content-between">
					<h5 class="mb-1">{{ certificate.name }}</h5>
					<!-- unnecessary tags
					<small class="text-muted"></small>
					-->
				</div>
				<p class="mb-1">From - {{ certificate.from }}</p>
				<small class="text-muted">{{ certificate.time }}</small>
			</a>
			{% endfor %}
		</div>
      </div>
    </div>
  </div>
  
</div>


{% endblock %}
