{% extends "base.html" %}

{% load humanize %}

{% block main %}
<div class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased">
    <div class="flex justify-between px-4 mx-auto max-w-screen-xl ">
        <article class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert">
            <div class="mb-4 lg:mb-6 not-format">
                <address class="flex items-center mb-6 not-italic">
                    <div
                        class="inline-flex items-center mr-3 text-sm text-gray-900 dark:text-white"
                    >
                        <img
                            class="mr-4 w-16 h-16 rounded-full"
                            src="{{ profile.profile_image.url }}"
                            alt="{{ profile.title }}'s photo"
                        />
                        <div class="mx-2">
                            <a
                                href="{% url "portfolio:index" %}"
                                rel="author"
                                class="text-xl font-bold text-gray-900 dark:text-white"
                                >{{ profile.title }}</a
                            >
                            {% comment %} {% if article.updated_at %}
                            <span class="bg-yellow-100 text-yellow-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-yellow-900 dark:text-yellow-300">edited</span>
                            {% endif %} {% endcomment %}
                            <p class="text-base text-gray-500 dark:text-gray-400">
                                <time pubdate datetime="{{ article.created_at|date:"c" }}" title="{{ article.created_at }}">
                                    {{ article.created_at|naturaltime }}
                                </time>
                            </p>
                        </div>
                    </div>
                </address>
                <h1
                    class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
                >
                    {{ article.title }}
                </h1>
            </div>
            {% if article.image %}
            <figure>
                <img
                    src="{{ article.image.url }}"
                    alt=""
                />
            </figure>
            {% endif %}
            <p class="my-2 lg:px-3">
                {{ article.description }}
            </p>
        </article>
    </div>
</div>
{% endblock main %}
