{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block brand %}{% url 'posts' %}{% endblock %}

{% block main %}

<div style="max-width: 60rem; margin: auto; padding: 2rem;">
	{% for post in posts %}
	<span class="card" style="width: 18rem; display: inline-block;">
	  <img src="{{ post.image.url }}" class="card-img-top" alt="{{ post.title }}">
	  <div class="card-body">
	    <h5 class="card-title">{{ post.title }}</h5>
	    <p class="card-text text-muted">{{ post.created_date }}</p>
	    <a href="{% url 'post' id=post.id %}" class="btn btn-primary">See more</a>
	  </div>
	</span>
	{% endfor %}
</div>

{% endblock %}
